.list {
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-top: 50px;
  padding: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.button {
  margin-left: 20px;
}
